<%- include('header'); -%>
<!--<link rel="manifest" href="/manifest.json">-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<body onload="init()">

<div class="p-2 p-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
<!--            <img class="bird-img" src="../images/bird.jpg">-->
                <% if (sighting.picture && sighting.picture.data) { %>
                    <img class="bird-img" src="data:<%= sighting.picture.contentType %>;base64,<%= sighting.picture.data.toString('base64') %>" />
                <% } else { %>
                    <span>No image</span>
                <% } %>
                <h3><%- sighting.type %></h3>
<!--                <a href="/sightings/update_sighting?id=<%= sighting._id %>" class="btn btn-primary">Update</a>-->
            </div>
            <div class="col-12 col-md-6">
                <h3>Location: </h3>
                <p>Lat: <%- sighting.location.lat %> </p>
                <p>Lng: <%- sighting.location.lng %></p>
                <div id="map" style="height: 400px; width: 100%;">
                </div>

                <h3>Description</h3>
<!--                <p>There are 12 template columns available per row, allowing you to create different combinations of elements that span any number of columns. Column classes indicate the number of template columns to span (e.g., col-4 spans four). widths are set in percentages so you always have the same relative sizing.</p>-->
                <p><%- sighting.description %></p>
                <p>
                <div id="bird-abstract"></div>
                </p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                Comments
            </div>
            <div class="card-body">

                <div id="initial_form" style="display: block">
<!--                    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>-->
                    <form onsubmit="return false;">
<!--                        <p><label for="name"> Your nickname </label>-->
<!--                            <input type="text" id="name" name="name">-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            <label for="roomNo"> Your room </label>-->
<!--                            <input type="text" id="roomNo" name="roomNo">-->
<!--                            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>-->
<!--                        </p>-->
                        <button id="connect" onclick="connectToRoom('<%= sighting._id %>')">Chat</button>
                    </form>
                </div>
                <div id="chat_interface" style="display: none">
                    <div>
                        <div id="who_you_are" style="display: inline"></div>, you are in room: <div id="in_room" style="display: inline"></div>
                    </div>
                    <div id="history" class="boxed"></div>
                    <div id="input" class="bottom boxed">
                        <form onsubmit="return false;" style="width: 100%">
                            <p>
                                <label for="name"> chat: </label>
                                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                                <button id="chat_send" onclick="sendChatText()">Send</button>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    <!--initMap('<%= sighting.location.lat %>', '<%= sighting.location.lng %>');-->
    // initMapWithStaticMarker(position.coords.latitude, position.coords.longitude)
    initMapWithStaticMarker('<%= sighting.location.lat %>', '<%= sighting.location.lng %>');

    async function fetchBirdAbstract(birdName) {
        const sparqlQuery = `
    PREFIX dbo: <http://dbpedia.org/ontology/>
    PREFIX dbr: <http://dbpedia.org/resource/>

    SELECT ?abstract
    WHERE {
        BIND(IRI(CONCAT("http://dbpedia.org/resource/", REPLACE("${birdName}", " ", "_"))) as ?bird) .
        ?bird dbo:abstract ?abstract .
        FILTER(lang(?abstract) = "en") .
    }
    `;
        const url = "https://dbpedia.org/sparql?query=" + encodeURIComponent(sparqlQuery) + "&format=json";

        try {
            const response = await fetch(url);
            const data = await response.json();
            if (data.results.bindings.length > 0) {
                return data.results.bindings[0].abstract.value;
            } else {
                return '';
            }
        } catch (error) {
            console.error("Error fetching bird abstract:", error);
            return '';
        }
    }

    function displayBirdAbstract(abstract) {
        const abstractContainer = document.getElementById('bird-abstract');
        abstractContainer.textContent = abstract;
    }

    window.addEventListener('DOMContentLoaded', async () => {
        const birdName = '<%= sighting.type %>';
        const birdAbstract = await fetchBirdAbstract(birdName);
        displayBirdAbstract(birdAbstract);
    });



</script>

</body>
<%- include('footer'); -%>
