<%- include('header'); -%>

<h1>Bird Watching Page</h1>


<body>
<div class="button-container">
  <input type="button" onclick="registerPage()" value="Log In/Sign Up" />
</div>


<div class="p-5">
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">DateTime</th>-->
<!--      <th scope="col">Location</th>-->
<!--      <th scope="col">Description</th>-->
<!--      <th scope="col">Identification</th>-->
<!--      <th scope="col">photo</th>-->
<!--      <th scope="col">Nickname</th>-->
<!--      <th scope="col">Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>2023-03-01</td>-->
<!--      <td>Mock Location</td>-->
<!--      <td>Mock Description</td>-->
<!--      <td>Unknown</td>-->
<!--      <td><img class="bird-thumbnail" src="images/bird.jpg"></td>-->
<!--      <td>Bob</td>-->
<!--      <td>-->
<!--        <a href="detail" class="btn btn-primary btn-sm">Details</a>-->
<!--        <a type="button" class="btn btn-primary btn-sm">Comments</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->

        <div class="d-flex flex-wrap p-2 p-md-5">
            <% sightings.forEach(function(sighting){ %>
                <div class="card mb-3 mx-md-2 mx-auto" style="width: 22rem;">
                    <% if (sighting.picture && sighting.picture.data) { %>
                        <img class="bird-thumbnail" src="data:<%= sighting.picture.contentType %>;base64,<%= sighting.picture.data.toString('base64') %>" />
                    <% } else { %>
                        <span>No image</span>
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%- sighting.type %></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><%- sighting.location.lat  %>, <%- sighting.location.lng  %></h6>
                        <p class="card-text"><%- sighting.description %></p>
                        <a href="detail" class="btn btn-primary">Details</a>
                        <a href="detail" class="btn btn-primary">Comments</a>
                    </div>
                </div>
            <% }) %>
        </div>
</div>

<div class="button-container">
  <input type="button" onclick="addSighting()" value="Add a sighting" />
</div>
</body>



<script>
  function registerPage(){
    window.location.href = "/users/register";
  }

  function addSighting(){
    window.location.href = "/sightings/add_sighting";
  }
</script>

</html>

<%- include('footer'); -%>
